</body>
<footer>
    <div class="bottom-container">

        <a class="footer-link" href="https://www.linkedin.com/in/sachin-verma-2951bb209/"><img class="logo"
                src="images/linkedin.png" alt="error"></a>

        <a class="footer-link" href="https://twitter.com/Sachin_2003_V"><img class="logo" src="images/twitter.png"
                alt="error"></a>

        <a class="footer-link" href="https://www.instagram.com/s4chin_verma/"><img class="logo"
                src="images/instagram.png" alt="error"></a>

        <a class="footer-link" href="https://www.facebook.com/profile.php?id=100014529078460"><img class="logo"
                src="images/facebook.png" alt="error"></a>
        <p class="foot">© Sachin Verma. 2023 All right Reserve.</p>
    </div>
</footer>

</html>